:host {
  display: block;
  position: relative;
}

.flag-container {
  position: relative;
  aspect-ratio: 1 / 1;
  isolation: isolate;
  forced-color-adjust: none;
  color-scheme: only light;
}

.static-flag {
  display: flex;
  position: absolute;
  top: var(--oscillate-distance);
  right: 0;
  bottom: var(--oscillate-distance);
  left: 0;
}

.static-flag .column {
  animation: none;
}

.flag {
  display: flex;
  position: relative;
  block-size: 100%;
}

.flag.no-animation .column {
  animation: none;
}

.column {
  animation: oscillate var(--animation-speed) infinite alternate ease-in-out backwards;
  filter: none !important;
}

@keyframes oscillate {
  from {
    transform: translateY(var(--oscillate-distance));
  }
  to {
    transform: translateY(calc(-1 * var(--oscillate-distance)));
  }
}
